@page "/abonents"
@inherits AbonentsBase
@rendermode InteractiveServer

<PageTitle>Список абонентов</PageTitle>

<div class="title">
    <h4>Поиск абонентов в базе</h4>
</div>
<br />

<div class="search_filters">
    <label>Лицевой счёт:</label>&nbsp;<input class="med_input" maxlength=10 @bind="filter.AbonentId"/>
    <label>Фамилия:</label>&nbsp;<input class="lrg_input" maxlength=20 @bind="filter.LastName" />
    <label>Имя:</label>&nbsp;<input class="lrg_input" maxlength=20 @bind="filter.FirstName" />
    <label>Отчество:</label>&nbsp;<input class="lrg_input" maxlength=20 @bind="filter.Surname" />
    <br />
    <br />
    <label>Город:</label>
    <select class="city" @bind="selectedCity">
        <option>Все доступные</option>
        @* @foreach (var city in citiesList)
        {
            <option>@city.Name</option>
        } *@
     </select>&nbsp;
    <label>Улица:</label>&nbsp;<input class="lrg_input" @bind="filter.Street" />&nbsp;
    <label>Дом:</label>&nbsp;<input class="sml_input" @bind="filter.House" />&nbsp;
    <label>Квартира:</label>&nbsp;<input class="sml_input" @bind="filter.Apartment" />
    <label>Телефон:</label>&nbsp;<input id="med_input" maxlength=10 @bind="filter.PhoneNumber"/>&nbsp;
    <br />
    <br />
    <label>Максимум результатов (если равно 0, будут показаны все результаты):</label>&nbsp;<input class="sml_input" @bind="max_result_count" />
    <br />
    <br />
    @* <button class="button" @onclick="() => Search(filter, max_result_count)">Найти</button>&nbsp;&nbsp;<button class="button" @onclick="ClearFilter">Очистить</button> *@
</div>
<br />
<br />

<div class="abon_list">
    @if(abonList == null)
    {
        <div class="lds-facebook"><div></div><div></div><div></div></div>
    }
    else
    {
        <table>
            <tr>
                <th>Лицевой счёт</th>
                <th>ФИО</th>
                <th>Адрес</th>
                <th>Баланс</th>
                <th>Статус</th>
            </tr>
            @foreach(var abon in abonList)
            {
                <tr class="clickable_row" @onclick="() => GoToAbonPage(abon.Id)">
                    <td>@abon.Id</td>
                    <td>&nbsp;@abon.LastName @abon.FirstName @abon.Surname&nbsp;</td>
                    <td>&nbsp;@abon.Street @abon.House-@abon.Apartment&nbsp;</td>
                    @if (abon.Balance >= 0)
                    {
                        <td>
                            <label style="color: green">@abon.Balance</label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label style="color: red">@abon.Balance</label>
                        </td>
                    }
                    <td>Активный</td>
                </tr>
            }
        </table>
    }
</div>
