@page "/Requests"
@inherits RequestsBase
@rendermode InteractiveServer

<PageTitle>Заявки абонентов</PageTitle>

<div class="col-lg-12 p-1">
    <h3>Заявки абонентов</h3>
    <div class="row">
        <div class="mb-3">
            <label class="form-label" for="start_date">С: </label>
            <InputDate class="form-control" id="start_date" style="max-width: 150px;" @bind-Value="datePeriod.StartDate"></InputDate>
        </div>
        <div class="mb-3">
            <label class="form-label" for="end_date">По: </label>
            <InputDate class="form-control" id="end_date" style="max-width: 150px;" @bind-Value="datePeriod.EndDate"></InputDate>
        </div>
    </div>
    <div class="mb-3">
        <button class="b" @onclick="RefreshRequestsList">Обновить список</button>
    </div>
    <div>
        <div class="mb-3">
            <table>
                <thead>
                    <tr style="border: solid 1px;border-style: solid;">
                        <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Дата заявки</th>
                        <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Время заявки</th>
                        <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Тип заявки</th>
                        <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Описание</th>
                        <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in abonRequests!)
                    {
                        <tr style="border: solid 1px;border-style: solid;">
                            <td style="text-align: center;border: solid 1px;border-style: solid;">@request.CompletionDate</td>
                            <td style="text-align: center;border: solid 1px;border-style: solid;">@request.CompletionTimePeriod</td>
                            <td style="text-align: center;border: solid 1px;border-style: solid;">@request.Type</td>
                            <td style="text-align: center;border: solid 1px;border-style: solid;">@request.Description</td>
                            <td style="text-align: center;border: solid 1px;border-style: solid;">@request.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

