@page "/Abonent/{AbonId:int}/Tariffs/"
@inherits AbonentTariffsBase
@rendermode InteractiveServer

<AuthorizeView Context="authContext">
    <Authorized>
        <PageTitle>Услуги</PageTitle>
        <div>
            <div class="col-12 col-lg-12 p-4 justify-content-space-between">
                <div class="col-12 col-lg-12 p-0 justify-content-space-between">
                    <h3>Услуги абонента</h3>
                    <div class="row">
                        <div class="mb-3">
                            <button class="btn btn-primary" @onclick="ShowNewTariffPopup">Подключить услугу</button>
                            <button class="btn btn-primary">Заблокировать все услуги</button>
                        </div>
                    </div>
                    @if (newTariffPopup is true)
                    {
                        <div class="modal" tabindex="-1" style="display:block;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Подключить новый тариф</h5>
                                        <button type="button" class="btn btn-close" data-dismiss="modal" @onclick="CloseNewTariffPopup">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label class="form-label" for="select_tariff">Тариф (услуга): </label>
                                            <select class="form-select" id="select_tariff" @bind=newConnTariff.Name @bind:after="ChangeSelectedTariff">
                                                @if (newConnTariff.Name is null)
                                                {
                                                    <option selected disabled>Выберите тариф из списка</option>
                                                }
                                                @foreach (var tariff in tariffsList!)
                                                {
                                                    <option value="@tariff.Name">@tariff.Name</option>
                                                }
                                            </select>
                                        </div>
                                        @if (newConnTariff.Name is not null)
                                        {
                                            <div class="mb-3">
                                                <label class="form-label" for="tariff_description">Описание: </label>
                                                <label id="tariff_description">@selectedTariff!.Description</label>
                                            </div>
                                            <div class="mb-3">
                                                <label>Метод списания платы: @selectedTariff!.PricingModel</label>
                                                @if (selectedTariff.PricingModel == "Месячный")
                                                {
                                                    <label>Цена тарифа: @selectedTariff.MonthlyPrice руб/мес</label>
                                                }
                                                else
                                                {
                                                    <label>Цена тарифа: @selectedTariff.DailyPrice руб/сутки</label>
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" @onclick="CloseNewTariffPopup">Отмена</button>
                                        <button class="btn btn-primary" data-dismiss="modal" @onclick="ConnectNewTariff">Подключить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        @foreach (var tariff in connectedTariffs!)
                        {
                            <div class="mb-3">
                                <table>
                                    <thead>
                                        <tr style="border: solid 1px;border-style: solid;">
                                            <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Управление</th>
                                            <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Название тарифа</th>
                                            <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Модель оплаты</th>
                                            <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Плата</th>
                                            <th style="text-align: center;background-color: #99ccff;border-right: solid 1px;min-width: 100px;max-width: auto;">Статус</th>
                                        </tr>
                                    </thead>
                                    @if (tariff.IsBlocked)
                                    {
                                        <tbody>
                                            <tr style="border: solid 1px;border-style: solid;background-color:palevioletred;">
                                                <td style="text-align: center;border: solid 1px;border-style: solid;"><label style="color: mediumblue;" @onclick="() => UnblockConnectedTariff(tariff.Id)">[Разблокировать]</label></td>
                                                <td style="text-align: center;border: solid 1px;border-style: solid;">@tariff.Name</td>
                                                <td style="text-align: center;border: solid 1px;border-style: solid;">@tariff.PricingModel</td>
                                                @if (tariff.PricingModel == "Месячный")
                                                {
                                                    <td style="text-align: center;border: solid 1px;border-style: solid;">@tariff.MonthlyPrice руб/мес</td>
                                                }
                                                else if (tariff.PricingModel == "Посуточный")
                                                {
                                                    <td style="text-align: center;border: solid 1px;border-style: solid;">@tariff.DailyPrice руб/сутки</td>
                                                }
                                                <td style="text-align: center;border: solid 1px;border-style: solid;">Заблокирован</td>
                                            </tr>
                                        </tbody>
                                    }
                                    else
                                    {
                                        <tbody>
                                            <tr style="border: solid 1px;border-style: solid;">
                                                <td style="text-align: center;border: solid 1px;border-style: solid;"><label style="color: mediumblue;" @onclick="() => BlockConnectedTariff(tariff.Id)">[Заблокировать]</label></td>
                                                <td style="text-align: center;border: solid 1px;border-style: solid;">@tariff.Name</td>
                                                <td style="text-align: center;border: solid 1px;border-style: solid;">@tariff.PricingModel</td>
                                                @if (tariff.PricingModel == "Месячный")
                                                {
                                                    <td style="text-align: center;border: solid 1px;border-style: solid;">@tariff.MonthlyPrice руб/мес</td>
                                                }
                                                else if (tariff.PricingModel == "Посуточный")
                                                {
                                                    <td style="text-align: center;border: solid 1px;border-style: solid;">@tariff.DailyPrice руб/сутки</td>
                                                }
                                                <td style="text-align: center;border: solid 1px;border-style: solid;">Активен</td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAllowed></NotAllowed>
    </NotAuthorized>
</AuthorizeView>

